:root {
  --secondary-color: #bb0000;
  --nice-gray: rgb(236, 240, 243);
  --main-width: 38em;
  font-size: 1.0em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin-top: 2em;
}

main {
  margin: 0 auto;
  max-width: var(--main-width);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.7em;
  min-height: calc(var(--main-width));
}

blockquote {
  padding: 0.5em;
  margin-left: 0.5em;
  border-left: 8px solid var(--secondary-color);
}

blockquote > p {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

figure {
  margin: 0;
}


figcaption {
  font-style: italic;
}

aside.sidebar {
  float: left;
  width: calc((100% - var(--main-width)) / 2);
  padding: 0 4px 4px 4px;
}

#sidebar {
  max-width: 192px;
  margin: 0 12px 0 auto;
}

@media only screen and (max-width: 900px) {
  aside.sidebar {
    display: none;
  }
}

pre {
  padding: 12px;
  line-height: 1;
}

hr {
  border: none;
  border-bottom: 1px solid var(--nice-gray);
}

code {
  padding-left: 0.5px;
  font-family: "JetBrains Mono", monospace;
}

p > code {
  background-color: var(--nice-gray);
}

ul,
ol {
  margin: 0;
  padding-left: 20px;
}

li {
  padding-left: 0px;
}

sup {
  line-height: 0;
}

.references:before {
  content: "References";
  font-size: 1.2em;
  font-weight: bold;
  display: block;
  width: 80%;
  border-bottom: 1px solid var(--nice-gray);
}

#news-items {
  max-height: 200px;
  overflow-y: scroll;
}

table {
  border-top: 1.5px solid black;
  border-bottom: 1.5px solid black;
  border-collapse: collapse;
  margin: auto;
}

th.active {
  color: black;
}

th.inactive {
  color: gray;
}

tr.header {
  border-bottom: 1px solid black;
}

th {
  text-align: center;
  border-collapse: collapse;
}

td.date {
  text-align: right;
}

td, th {
  padding: 2px 4px;
}

tbody > tr:hover {
  background-color: var(--nice-gray);
}

button.fancy {
  padding: 6px 12px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  text-decoration: none;
  margin-right: 6px;
  background-color: transparent;
  color: inherit;
}

button.fancy.selected {
  background-color: #2563eb;
  color: white;
}
